/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mulish-Bold';
    src: url('../Fonts/Mulish-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish-Light';
    src: url('../Fonts/Mulish-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url('../Fonts/Mulish-Regular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish-SemiBold';
    src: url('../Fonts/Mulish-SemiBold');
    font-weight: 600;
    font-style: normal;
}

.body {
    background-color: #E5E5E5;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 80px;
}

.header-logo {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
}

.navbar {
    display: inline-block;
}

.header-logo-img {
    display: inline-block;
}

.navbar-list {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.navbar-list-item {
    display: inline-block;
    width: 104px;
    margin-left: 40px;
    height: 23px;
    font-family: 'Mulish-Regular';
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

.navbar-list-item:nth-child(1) {
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
}

.navbar-list-item:last-child {
    margin-right: 185px;
}

.hero {
    /* display: inline-block; */
    height: 750px;
    /* border: 1px solid red; */
}

.hero-left {
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid black; */
}

.hero-right {
    display: inline-block;
    vertical-align: middle;
    margin-top: 84px;
}

.hero-lift-title {
    width: 400px;
    height: 112px;
    font-family: 'Mulish-Bold';
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    color: #000000;
    mix-blend-mode: normal;
    margin-right: 128px;
    margin-bottom: 33px;
}

.hero-lift-paragraph {
    width: 400px;
    height: 96px;
    font-family: 'Mulish-Light';
    font-size: 21px;
    line-height: 32px;
    /* or 152% */
    color: #7D7987;
    mix-blend-mode: normal;
    margin-bottom: 48px;
    margin-top: 83px;
}

.consult-btn {
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 60px;
    /* identical to box height, or 333% */
    color: #FFFFFF;
    background: #458FF6;
    border-radius: 55px;
    border: none;
    padding: 5px 40px;
}

.services-title {
    width: 212px;
    height: 56px;
    text-align: center;
    margin-left: 400px;
    display: block;
    font-family: 'Mulish-Bold';
    font-size: 36px;
    line-height: 56px;
    /* identical to box height, or 156% */
    color: #000000;
    /* margin: 30px; */
}

.services-hr {
    width: 56px;
    height: 2px;
    margin-left: 480px;
    background: #000000;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-paragraph {
    width: 952px;
    height: 60px;
    font-family: 'Mulish-Light';
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    color: #7D7987;
}

.services {
    /* border: 1px solid red; */
    margin-top: 80px;
}

.cards-item {
    width: 300px;
    height: 300px;
    background-color: white;
    list-style: none;
    display: inline-block;
    margin: 34px;
    margin-top: 80px;
    border: 1px solid #c2fbf1;
    border-radius: 10px;
    padding: 30px;
    border: 3px solid wheat;
}

.cards-item:hover {
    border: 3px solid blue;
}

.cards-item-img {
    background-color: wheat;
}

.card-item-title {
    font-family: 'Mulish-Bold';
    font-size: 24px;
    line-height: 56px;
    /* identical to box height, or 233% */
    color: #000000;
}

.card-item-paragraph {
    font-family: 'Mulish-Light';
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.sevices-btn {
    width: 198px;
    height: 60px;
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    vertical-align: middle;
    border: 1px solid blue;
    background-color: white;
    border-radius: 35px;
    text-align: center;
    margin-left: 450px;
    padding: 0 40px;
}

.providers {
    margin-top: 180px;
}

.providers-left {
    display: inline-block;
    vertical-align: middle;
}

.providers-right {
    display: inline-block;
    padding: 80px;
    vertical-align: middle;
}

.provider-right-title {
    width: 481px;
    height: 112px;
    font-family: 'Mulish-Bold';
    font-size: 36px;
    line-height: 56px;
    /* or 156% */
    color: #000000;
}

.provider-right-hr {
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    margin: 30px 0;
}

.provider-right-paragraph {
    width: 450px;
    height: 120px;
    font-family: 'Mulish-Light';
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #7D7987;
}

.providers-right-btn {
    width: 198px;
    height: 60px;
    /* padding: 30px; */
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 60px;
    /* identical to box height, or 333% */
    color: #458FF6;
    vertical-align: middle;
    border: 1px solid blue;
    background-color: white;
    border-radius: 35px;
    text-align: center;
    /* margin-left: 450px; */
    padding: 0 40px;
    margin-top: 37px;
}

.mobilapp {
    margin-top: 150px;
}

.mobilapp-left {
    display: inline-block;
    vertical-align: middle;
}

.mobilapp-rigt {
    vertical-align: middle;
    display: inline-block;
}

.mobilapp-left-title {
    width: 254px;
    height: 96px;
    font-family: 'Mulish-Bold';
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    color: #000000;
}

.mobilapp-left-hr {
    width: 56px;
    height: 2px;
    margin: 30px 0px;
    background-color: #000000;
    background: #000000;
    border-radius: 6px;
}

.mobilapp-left-paragraph {
    width: 420px;
    height: 120px;
    font-family: 'Mulish-Light';
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #7D7987;
}

.mobilapp-left-btn {
    width: 200px;
    height: 56px;
    margin-top: 40px;
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 60px;
    /* or 333% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #458FF6;
    border: 2px solid #458FF6;
    border-radius: 55px;
    text-align: center;
    padding: 3px 40px;
    background-color: white;
}

.customer {
    width: 1200px;
    height: 425px;
    border: 1px solid blue;
    border-radius: 5px;
    background: -o-linear-gradient(241.82deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    margin-bottom: 30px;
    margin-top: 200px;
    margin-left: 80px;
}

.customer-title {
    width: 522px;
    height: 48px;
    font-family: 'Mulish-Bold';
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    margin: 64px 297px 25px 320px;
}

.customer-hr {
    width: 56px;
    height: 3px;
    /* border: 2px solid blue; */
    background: #FFFFFF;
    border-radius: 6px;
    margin-left: 560px;
}

.customer-left {
    display: inline-block;
    width: 600px;
    padding-left: 118px;
    padding-top: 60px;
}

.customer-rigt {
    display: inline-block;
    vertical-align: middle;
}

.customer-left1 {
    display: inline-block;
    vertical-align: middle;
}

.customer-left2 {
    display: inline-block;
    vertical-align: middle;
}

.customer-left-img {
    border-radius: 50%;
    vertical-align: middle;
}

.customer-left-title {
    width: 284px;
    height: 48px;
    vertical-align: middle;
    font-family: 'Mulish-Bold';
    font-size: 22px;
    line-height: 48px;
    /* identical to box height, or 218% */
    color: #FFFFFF;
    padding-left: 30px;
}

.customer-left-paragraph {
    width: 219px;
    height: 48px;
    font-family: 'Mulish-Regular';
    font-size: 18px;
    line-height: 48px;
    /* identical to box height, or 267% */
    color: rgba(255, 255, 255, 0.85);
    padding-left: 30px;
}

.customer-right-quote {
    width: 420px;
    height: 120px;
    font-family: 'Mulish-Regular';
    font-size: 19px;
    line-height: 30px;
    /* or 158% */
    color: rgba(255, 255, 255, 0.9);
}

.doira {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
    background: #5B9BF3;
    opacity: 0.3;
}

.doira1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5B9BF3;
    display: inline-block;
    text-align: center;
    margin: 0px 10px 0px 90px;
    vertical-align: middle;
}

.vektor2 {
    /* border: 1px solid red; */
    margin: 0 0 0 450px;
    vertical-align: middle;
    opacity: 0.4;
}

.vektor3 {
    /* border: 1px solid red; */
    margin: 0 0 0 90px;
    vertical-align: middle;
}

.article {
    width: 1200px;
    height: 800px;
    margin-top: 220px;
}

.article-title {
    width: 560px;
    height: 56px;
    font-family: 'Mulish-Bold';
    font-size: 36px;
    line-height: 56px;
    /* identical to box height, or 156% */
    color: #000000;
    text-align: center;
    margin-left: 500px;
}

.article-hr {
    width: 56px;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 26px;
    margin-bottom: 72px;
}

.article-box {
    width: 1200px;
    height: 512px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box {
    width: 370px;
    height: 550px;
    /* background-color: #67C3F3; */
    border: 1px solid rgb(232, 244, 244);
    border-radius: 20px;
}

.box-img {
    border-radius: 20px;
}

.box-title {
    width: 250px;
    height: 64px;
    font-family: 'Mulish-Bold';
    font-size: 21px;
    line-height: 32px;
    /* or 152% */
    color: #000000;
    margin: 21px 33px;
}

.box-paragraph {
    width: 264px;
    height: 84px;
    font-family: 'Mulish-Light';
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #7D7987;
    margin: 12px 33px;
}

.box-btn {
    width: 266px;
    height: 28px;
    font-family: 'Mulish-SemiBold';
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 165% */
    color: #4089ED;
    margin: 25px 33px;
    border: none;
    background-color: white;
    /* border: 1px solid red; */
    text-align: start;
}

.box-btn-vektor {
    margin-left: 20px;
}

.box-btn-vektor:hover {
    width: 18px;
    font-weight: bold;
}

.box-btn:hover {
    text-decoration: underline;
}

.article-btn {
    width: 200px;
    height: 60px;
    font-family: 'Mulish-Bold';
    font-size: 18px;
    line-height: 60px;
    /* identical to box height, or 333% */
    color: #458FF6;
    /* padding: 3px 30px; */
    margin-top: 80px;
    margin-left: 500px;
    border-radius: 25px;
    border: 1px solid blue
}

.footer {
    background-color: #64baf3;
    width: 1345px;
    height: 432px;
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 90px 190px;
    margin-bottom: 70px;
}

.footer-text {
    width: 390px;
    height: 80px;
    font-family: 'Mulish-Light';
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FFFFFF;
    margin-top: 20px;
    opacity: 0.8;
}

.footer-h5s {
    width: 390px;
    height: 28px;
    font-family: 'Mulish-Light';
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    color: #FFFFFF;
    margin: 30px 0px;
    opacity: 0.8;
}

.footer-list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-right {
    width: 800px;
    padding-left: 30px;
}

.footer-list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-list2-item1 {
    padding: 0 0 25px 0;
    color: white;
    font-family: 'Mulish-Bold';
    font-size: 20px;
    line-height: 60px;
    /* identical to box height, or 300% */
    color: #FFFFFF;
    margin-top: -30px;
    text-align: start;
}

.footer-list2-item {
    font-family: 'Mulish-Light';
    font-size: 18px;
    line-height: 38px;
    /* or 211% */
    color: #FFFFFF;
    opacity: 0.8;
}

.footer-picture1 {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

.footer-picture {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid green;
    background-color: white;
}

.footer-left1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-top: 10px;
}

.footer-h4 {
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'Mulish-Bold';
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}